---
import Layout from '~/layouts/Layout.astro';
import Section from '~/components/02-Section.astro';
import BasicCTA from '~/components/astro/ctas/BasicCTA.astro';
import BasicFeatures from '~/components/astro/features/BasicFeatures.astro';
import StepsFeatures from '~/components/astro/features/StepsFeatures.astro';
---

<Layout title="David Jaimes - Home Page">
	<main>
		<Section></Section>
		<BasicFeatures />
		<StepsFeatures />
		<BasicCTA />
	</main>
</Layout>